{% extends 'base.html' %}

{% block title %}<title>main</title>{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h1>사용자 이름을 입력하세요.</h1>
        <br>
        <form action="hello">
            <label for="nameInput">이름 : </label>
            <input id="nameInput" name="name">
            <input type="submit" value="제출">
        </form>
        <a href="wordcount">
            <button>wordcount 로 이동</button>
        </a>
        <a href="blog">
            <button> 블로그로 이동 </button>
        </a>
        <a href="portfolio">
            <input type="button" value = "포폴로 이동">
        </a>
    </div>
{% endblock %}
