<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
</head>
<body>
    <nav>
        <div>
            <a href="{%url 'welcome' %}">
                HOME
            </a>
            <a href="{%url 'blog' %}">
                BLOG
            </a>
            <a href="{%url 'portfolio' %}">
                PORTFOLIO
            </a>
        </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>